$dark_blue: #282a4f;
$lite_blue: rgba(158, 163, 255, 0.4);
$normal_blue: #8b84da;
$blue: #3e44d2;
$yellow: #ffd600;
$dark_grey: #323237;

@mixin adaptiv-font($pcSize, $mobSize, $maxWidth) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

.stickers-container {
    .stickers__sticker-link {
        cursor: pointer;
    }
}

.container-with-button {
    margin-left: 30px;
    border-radius: 10px;
    background-color: black;
    padding: 20px 10px;

    display: flex;
    flex-direction: column;

    margin-bottom: 30px;

    @media(max-width: 607px) {
        margin-left: 0;
    }
}

.join-block {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 230px));
    min-height: 350px;
    justify-content: space-around;

    overflow-y: auto;

    @media(max-width: 330px) {
        grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    }
}

.join-stickers {
    &__sticker-container {
        margin-bottom: 20px;

    }

    &__sticker {
        max-width: 230px;
        min-width: 100px;
        max-height: 300px;
        min-height: 260px;

        margin-right: 15px;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        border-radius: 10px;
        padding: 10px 0;
        border: 1px solid white;

        background-color: #95afbcaa;

        flex: 0 1 auto;

        position: relative;


        @media (max-width: 558px) {
            margin: 0;
        }

        @media(max-width: 330px) {
            max-width: 200px;
        }
    }

    &__sticker-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        text-decoration: none;
        color: white;
    }

    &__sticker-img {
        max-width: 170px;
        min-width: 100px;
    }

    &__sticker-title {
        margin: 5px 5px 10px 5px;

        font-style: italic;
        font-weight: bold;
        @include adaptiv-font(20, 16, 1440);
        line-height: 1.1em;
        letter-spacing: 0.1em;
        text-align: center;
    }

    &__sticker-star img {
        @media (max-width: 696px) {
            width: 30px;
        }

        @media (max-width: 607px) {
            width: 37px;
        }
    }

    &__num-block {
        position: absolute;
        top: 2%;
        left: 2%;
    }

    &__num {
        font-style: italic;
        font-weight: normal;
        @include adaptiv-font(18, 14, 1440);
        line-height: 1.2em;

        font-family: 'Raleway';
        background: rgba(0, 0, 0, 0.38);
        border-radius: 50%;
        color: white;
        text-align: center;
        padding: 8px 15px;
        margin: 5px 0 0 5px;
        display: block;

        font-family: Arial, Helvetica, sans-serif;

        &_helper {
            cursor: pointer;

            &:hover::after {
                font-family: 'Raleway';

                content: attr(data-title);
                position: absolute;
                background-color: rgba(0, 0, 0, 0.7);

                @include adaptiv-font(18, 16, 1440);
                line-height: 22px;

                padding: 10px 40px;
                border: 2px solid $yellow;
                border-radius: 5px;

                left: -10px;
                top: 30px;
                color: white;
            }
        }
    }

    &__buttons {
        max-width: 170px;
        margin: 15px 0 0 25px;
        text-align: center;

        display: flex;
        justify-content: center;

        @media(max-width: 330px) {
            margin-left: 10px;
        }

        // @media (max-width: 558px) {
        //     margin-left: 15px;
        // }

        // @media (max-width: 588px) {
        //     margin-left: 10px;
        // }

    }

    &__button {
        width: 30px;
        height: 30px;
        margin: 0 5px;

        background-size: 70%;

        border-radius: 5px;
        display: inline-block;

        background-color: #427791e5;

        background-repeat: no-repeat;
        background-position: center;

        vertical-align: middle;
        cursor: pointer;

        border: 1px solid #427791e5;

        &:hover {
            background-color: white;
        }

        &_minus {
            background-image: url("../img/minus.svg");
        }

        &_plus {
            background-image: url("../img/plus.svg");
        }
    }

    &__num {
        font-family: "Arial";
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.1em;
    }

    &__agree-button {
        padding: 10px 25px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(20, 18, 1440);
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1em;

        background-color: grey;
        border-radius: 5px;
        border: 1px solid grey;

        cursor: pointer;

        align-self: end;
        margin-right: 10px;

        @media(max-width: 350px){
            padding: 7px 20px;
        }
        
        &:hover {
            background-color: white;
        }

        &_full {
            background-color: $yellow;

            background-image: url('../img/check.svg');
            background-repeat: no-repeat;
            background-position: center;

            background-size: contain;

            color: rgba($yellow, 0);
        }
    }
}

.bottom-pannel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &__text {
        display: block;
        
        font-family: 'Arial';
        font-style: normal;
        font-weight: normal;
        @include adaptiv-font(16, 14, 1440);
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.1em;

        font-style: italic;
        color: white;

        margin: 0 10px;
        text-align: left;
    }

    &__symbol{
        font-style: normal;
    }
}
