$dark_blue: #282a4f;
$lite_blue: rgba(158, 163, 255, 0.4);
$normal_blue: #8b84da;
$blue: #3e44d2;
$yellow: #ffd600;
$dark_grey: #323237;

@mixin adaptiv-font($pcSize, $mobSize, $maxWidth) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

.shop-container {
    margin-top: 40px;
}

.tabs {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;

    @media (max-width: 500px) {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    &__item {
        color: $yellow;
        text-decoration: none;
        font-family: "Raleway";
        font-style: italic;
        font-weight: 700;

        @include adaptiv-font(14, 12, 1440);
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 0.7em 0.7em;
        max-width: 170px;

        margin: 0 1px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &:nth-child(2),
        &:nth-child(3) {
            padding-top: 20px;
        }

        &:last-child {
            margin-right: 0;
            padding-top: 20px;
        }

        &:first-child {
            background-color: $yellow;
            color: #282a4f;
        }

        @media (max-width: 500px) {
            border-radius: 0;
            max-width: 100%;
            margin-top: 2px;
            padding: 10px;
            margin-right: 0;

            &:first-child {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                padding-top: 10px;
                margin-right: 0;
            }

            &:last-child {
                margin-right: 0;
                padding-top: 10px;
            }
        }
    }
}

#packs,
#subscriptions,
#price {
    display: none;
}

.shop {
    background-color: black;
    border-radius: 10px;
    border-top-right-radius: 0;

    padding: 40px;

    @media (max-width: 500px) {
        border-top-left-radius: 0;
    }

    @media (max-width: 607px) {
        padding: 20px;
    }

    &__tabs-body {
        font-family: "Raleway";
        font-style: italic;
        font-weight: 400;
        @include adaptiv-font(14, 12, 1440);
        line-height: 16px;

        letter-spacing: 0.1em;

        color: white;

        min-height: 450px;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__tabs-block {
        overflow-y: auto;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
        max-height: 450px;
        justify-content: space-around;

        &::-webkit-scrollbar {
            height: 10px;
            width: 10px;
        }
    }

    &__tabs-container {
        position: relative;
    }

    &__tabs-card {
    }

    &__buttons {
        max-width: 170px;
        margin: 15px 0 20px 5px;
        text-align: center;
    }

    &__button {
        width: 30px;
        height: 30px;
        margin: 0 5px;

        background-size: 70%;

        border-radius: 5px;
        display: inline-block;

        background-color: $yellow;

        background-repeat: no-repeat;
        background-position: center;

        vertical-align: middle;
        cursor: pointer;

        border: 1px solid $yellow;

        &:hover {
            background-color: white;
        }

        &_minus {
            background-image: url("../img/minus.svg");
        }

        &_plus {
            background-image: url("../img/plus.svg");
        }
    }

    &__num {
        font-family: "Arial";
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.1em;
    }

    &__total {
        background-color: rgb(59, 61, 100);
        display: flex;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 20px;
        
       // position: absolute;
        
        width: 95%;

        left: 0;
        bottom: 0;


        z-index: 5;

        @media (max-width: 607px) {
            width: 93%;
        }

        @media (max-width: 501px) {
            width: 90.5%;
        }

        @media (max-width: 391px) {
            width: 88%;
        }

        @media (max-width: 300px) {
            width: 82%;
        }
    }

    &__total-text {
        font-family: "Raleway";
        font-style: italic;
        font-weight: 700;
        @include adaptiv-font(15, 12, 1440);
        line-height: 20px;

        letter-spacing: 0.1em;

        &_uppercase {
            text-transform: uppercase;
        }

        &_num {
            font-family: Arial, Helvetica, sans-serif;
        }

        @media (max-width: 391px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__total-button {
        background-color: $yellow;
        padding: 10px 20px;
        border-radius: 5px;

        border: 1px solid $yellow;

        font-family: "Raleway";
        font-style: italic;
        font-weight: 700;
        @include adaptiv-font(15, 12, 1440);
        line-height: 18px;

        text-align: center;
        letter-spacing: 0.1em;

        text-transform: uppercase;

        cursor: pointer;

        &:hover {
            background-color: #5555bb;
            color: white;
        }

        @media (max-width: 621px) {
            padding: 10px 15px;
        }

        @media (max-width: 501px) {
            padding: 7px 12px;
        }

        @media (max-width: 391px) {
            align-self: flex-end;
            margin-bottom: 10px;
        }
    }
}

.tabs-card {
    max-width: 170px;
    min-width: 100px;
    max-height: 270px;
    position: relative;
    background-color: rgba(158, 163, 255, 0.4);
    border-radius: 10px;
    padding: 15px 5px 5px 5px;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;

    &:nth-child(5n) {
        margin-right: 0;
    }

    @media (max-width: 508px) {
        margin-right: 0;
        max-height: 250px;
    }

    &__helper {
    }

    &__img {
        max-width: 140px;

        border-radius: 5px;
        border: 1px solid white;

        object-fit: contain;

        &_hand {
            background-color: #f2c94c;
            height: 140px;
        }

        &_price {
            border: 0;
            min-height: 140px;
        }
    }

    &__title {
        margin: 15px 0 0 0;
        @include adaptiv-font(14, 14, 1440);
        line-height: 20px;
    }

    &__price {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(0, 0, 0, 0.38);
        padding: 10px 5px 10px 0;
        width: 95%;

        font-size: 14px;

        text-align: right;
        display: block;
    }

    &__symbol {
        font-style: normal;
    }
}

.helper {
    position: absolute;

    &__hover-block {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50px;

        padding: 5px 13px;

        font-family: "Arial";
        font-style: italic;
        font-weight: 400;
        @include adaptiv-font(20, 18, 1440);
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.1em;

        cursor: pointer;

        position: inherit;
        top: 5px;
        left: -85px;
    }

    &__info {
        display: none;

        position: absolute;
        left: -80px;
        top: 40px;

        background-color: #323237;
        border: 2px solid white;
        border-radius: 5px;

        width: 300px;
        //width: 200px;

        text-align: left;
        padding: 10px;

        z-index: 2;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &__text {
        font-family: "Arial";
        font-style: italic;
        font-weight: 400;
        @include adaptiv-font(14, 12, 1440);
        line-height: 20px;
        letter-spacing: 0.1em;

        display: block;
        margin: 5px;

        &_yellow {
            color: $yellow;
        }
    }
}

.helper__hover-block:hover + .helper__info {
    display: block;
}

.shop__tabs-container:nth-child(5n) .helper__info {
    left: -260px;
}

@media (max-width: 1144px) {
    .shop__tabs-container:nth-child(5n) .helper__info {
        left: -80px;
    }

    .shop__tabs-container:nth-child(4n) .helper__info {
        left: -260px;
    }
}

@media (max-width: 944px) {
    .shop__tabs-container:nth-child(4n) .helper__info {
        left: -80px;
    }

    .shop__tabs-container:nth-child(3n) .helper__info {
        left: -260px;
    }
}

@media (max-width: 712px) {
    .shop__tabs-container:nth-child(3n) .helper__info {
        left: -80px;
    }

    .shop__tabs-container:nth-child(2n) .helper__info {
        left: -260px;
    }
}

@media (max-width: 508px) {
    .shop__tabs-container:nth-child(2n) .helper__info,
    .shop__tabs-container:nth-child(3n) .helper__info,
    .shop__tabs-container:nth-child(4n) .helper__info,
    .shop__tabs-container:nth-child(5n) .helper__info,
    .shop__tabs-container:first-child .helper__info {
        left: -90px;

        max-width: 150px;
    }
}

.exclusive {
    animation: change_color 3s linear infinite;

    @keyframes change_color {
        0%,
        100% {
            border: 1px solid $yellow;
        }

        40% {
            border: 1px solid rgba($yellow, 0.2);
        }
    }

    // .flare {
    //     position: absolute;
    //     top: 0;
    //     height: 100%;
    //     width: 45px;
    //     transform: skewX(-20deg); // Наклон
    //     animation: flareAnimation;
    //     left: -100%;
    //     background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    //     animation: flareAnimation 4s infinite linear; // Время и тип анимации можно менять
    // }

    // @keyframes flareAnimation {
    //     0% {
    //         left: -150%;
    //     }

    //     100% {
    //         left: 150%;
    //     }
    // }
}

#price .tabs-card__title {
    font-family: Arial, Helvetica, sans-serif;
}

.error-window {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;

    top: 30%;
    text-align: justify;

    background-color: #323237;
    border: 1px solid white;
    border-radius: 10px;

    z-index: 10;

    padding: 30px 25px 20px 25px;
    max-width: 470px;
    min-height: 240px;

    display: none;

    @media(max-width: 607px){
        max-width: 420px;
        min-height: 200px;

        padding: 25px 15px 15px 15px;
    }

    @media(max-width: 490px){
        max-width: 350px;
        min-height: 250px;

        padding: 25px 15px 15px 15px;
    }

    &__title {
        font-family: "Raleway";
        font-style: italic;
        font-weight: 700;
        @include adaptiv-font(16, 14, 1440);
        line-height: 22px;

        letter-spacing: 0.1em;

        color: #ffd600;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }

    &__info {
        font-family: "Raleway";
        font-style: italic;
        font-weight: 400;
        @include adaptiv-font(16, 14, 1440);
        line-height: 28px;

        letter-spacing: 0.1em;

        color: white;

        display: block;
        margin-top: 35px;

        &_yellow {
            color: $yellow;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        align-items: flex-end;
    }

    &__button {
        width: 100px;
        height: 40px;
        margin: 0 5px;

        border-radius: 5px;
        display: inline-block;

        background-color: $yellow;
        background-repeat: no-repeat;
        background-position: center;

        vertical-align: middle;
        cursor: pointer;

        border: 1px solid $yellow;

        position: absolute;

        bottom: 20px;

        @media(max-width: 607px){
           width: 60px;
        }

        &_disagree {
            left: 20px;

            background-image: url("../img/close.svg");
        }

        &_agree {
            right: 20px;

            background-image: url("../img/check.svg");
        }

        &:hover {
            background-color: white;
        }
    }
}
.tabs-card {
    &__symbol {
        font-style: normal;
    }
}

.not-scroll {
    &::before {
        content: ' ';
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        z-index: 6;
    }
}
