$dark_blue: #282a4f;
$lite_blue: rgba(158, 163, 255, 0.4);
$normal_blue: #8b84da;
$yellow: #ffd600;
$dark_grey: #323237;

@mixin adaptiv-font($pcSize, $mobSize, $maxWidth) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

ul{
    padding: 0;
}

.container {
    margin: 130px 0 0 0;
    padding: 30px;
    background-color: $lite_blue;

    @media (max-width: 995px) {
        margin: 100px 0 0 0;
        padding: 20px 30px 30px;
    }

    @media (max-width: 354px) {
        padding: 20px;
    }
}

.top {
    margin: 40px 0 0 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    @media (max-width: 995px) {
        margin: 20px 0 0 0;
    }

    @media (max-width: 966px) {
        flex-direction: column;
        align-items: center;
    }

    &__experience,
    &__range {
        flex: 1 1 520px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    &__experience {
        margin: 0 30px 0 0;
        background-color: $yellow;

        @media (max-width: 966px) {
            margin: 0 0 30px 0;
            width: 80%;
        }

        @media (max-width: 569px) {
            width: 100%;
        }
    }

    &__range {
        background-color: $normal_blue;

        @media (max-width: 961px) {
            width: 80%;
        }

        @media (max-width: 569px) {
            width: 100%;
        }
    }

    &__title {
        margin: 25px;
        text-align: center;

        font-style: italic;
        font-weight: bold;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        @include adaptiv-font(18, 14, 1440);
        color: $dark_blue;
    }

    &__wrapper {
        background-color: rgba(0, 0, 0, 0.38);
    }

    &__list {
        position: relative;
        font-style: italic;
        font-weight: bold;
        @include adaptiv-font(18, 12, 1440);
        line-height: 19px;
        text-align: left;
        letter-spacing: 0.05em;
        color: white;

        counter-reset: list1;
        list-style-type: none;
    }

    &__item {
        padding: 15px 45px;
        border-bottom: 2px dashed $dark_blue;

        @media (max-width: 548px) {
            padding: 15px 35px;
        }

        @media (max-width: 393px) {
            padding: 10px 25px;
        }

        &::before {
            counter-increment: list1;
            content: counter(list1, decimal) "";
            padding: 0 40px 0 0;
            margin: 0;

            @media (max-width: 548px) {
                padding: 0 25px 0 0;
            }
        }

        &:first-child {
            background-image: url(../img/rang01.svg);
            padding-left: 3.8rem;
            background-position: 30px 0;
            background-size: 3rem 3rem;
            background-repeat: no-repeat;

            border-top: 2px dashed $dark_blue;
            border-bottom: 2px dashed $dark_blue;

            background-color: black;

            @media (max-width: 548px) {
                padding-left: 3rem;
                background-position: 15px 0;
            }

            @media (max-width: 393px) {
                background-size: 2.5rem 2.5rem;
                background-position: 10px 0;
                padding-left: 2.1rem;
            }

            &::before {
                content: "";
            }
        }

        &:nth-child(2) {
            background-image: url(../img/rang02.svg);
            padding-left: 3.8rem;
            background-position: 30px 0;
            background-size: 3rem 3rem;
            background-repeat: no-repeat;

            background-color: black;

            border-bottom: 2px dashed $dark_blue;

            @media (max-width: 548px) {
                padding-left: 3rem;
                background-position: 15px 0;
            }

            @media (max-width: 393px) {
                background-size: 2.5rem 2.5rem;
                background-position: 10px 0;
                padding-left: 2.1rem;
            }

            &::before {
                content: "";
            }
        }

        &:nth-child(3) {
            background-image: url(../img/rang03.svg);
            padding-left: 3.8rem;
            background-position: 30px 0;
            background-size: 3rem 3rem;
            background-repeat: no-repeat;

            background-color: black;
            @media (max-width: 548px) {
                padding-left: 3rem;
                background-position: 15px 0;
            }

            @media (max-width: 393px) {
                background-size: 2.5rem 2.5rem;
                background-position: 10px 0;
                padding-left: 2.1rem;
            }

            &::before {
                content: "";
            }
        }

        &:last-child{
            padding: 15px 45px 15px 34px;

            @media (max-width: 548px) {
                padding: 15px 45px 15px 27px;
            }

            @media (max-width: 393px) {
                padding: 10px 45px 10px 18px;
            }
        }
    }

    &__item-name {
        text-decoration: underline;
    }

    &__item-num {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.num {
    font-family: Arial, Helvetica, sans-serif;
}
